html {
    height: 100%;
}

@media screen and (orientation: portrait){
    body {
        /*                background: url("a2.jpg");
        */

        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        background-color: #000000;
    }}

@media screen and (orientation: landscape) {
    body {
        /*                background: url("a2h.jpg");
        */

        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        background-color: #000000;
    }
}

#buttons {
    position: fixed;
    z-index: 100;
    left: 0;
    width: 100%;
    height: 4em;
    bottom: 4em;
    text-align: center
}

.side{
    display: inline-block;
}
.col{
    color: #FFFFFF;
}
#acc{
    color: #FFFFFF;
}
#raterm {
    position: fixed;
    z-index: 100;
    left: 0;
    width: 100%;
    height: 3em;
    bottom: 0.5em;
    text-align: center
}

#terms{
    background-color: #ADD8E6;
}

.btn {
    padding: .33em .5em;
    margin-bottom: .66em;
    margin-right: 3px;
    font-weight: normal;
    font-size: 1.2438223em;
    color: #fff;
    border-radius: .2em;
    width: auto;
    min-width: 4em;
    max-width: 10em;
    text-shadow: 0 1px 0 #0e6fb9;
    background-color: rgba(18, 148, 246, 0.75);
    border: 1px solid rgba(18, 148, 246, 0.75);
    box-shadow: inset 0px 0px 2px 0px #1294f6, inset 0px -2px 0px 0px #0e76c5;
    background-clip: padding-box;
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out
}

.btn:hover {
    background-color: #1294f6;
    border: 1px solid #1294f6
}

.btn:disabled {
    text-shadow: 0 1px 0 #7d838f;
    background-color: rgba(167, 174, 190, 0.75);
    border: 1px solid rgba(167, 174, 190, 0.75);
    box-shadow: inset 0px 0px 2px 0px #a7aebe, inset 0px -2px 0px 0px #868b98;
    background-clip: padding-box
}


.btn:disabled:hover {
    background-color: #a7aebe;
    border: 1px solid #a7aebe
}

.btn {
    vertical-align: top;
    text-decoration: none
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#myBtn {
    background:hsla(358, 6%, 50%, 0.79);
    color: #FFFFFF;
}

.fon{
    font-size: 1em;
}
.connect{
    color: white;
    background-color: rgba(223,223,223,0.5);
    border-style: solid;
    border: none;
    border-top: 5px;
    border-bottom: 5px;
    font-family: "Helvetica Neue";
    padding-top: 10px;
    padding-bottom: 10px;

    -webkit-animation: fadeinout 5s linear forwards;
    animation: fadeinout 5s linear forwards;
    opacity: 0;

}
@-webkit-keyframes fadeinout {
    50% { opacity: 1; }
}

@keyframes fadeinout {
    50% { opacity: 1; }
}

.slider-arrow-left{
    position: absolute;
    left: 100px;
    transition: left 1s,opacity 0.5s;
    top: 22px;
    opacity: 1;
    width: 25px;
}
.slider-arrow-right{
    position: absolute;
    right: 100px;
    transition: right 1s,opacity 0.5s;
    top: 22px;
    opacity: 1;
    width: 25px;
}

#myBtn {
    font-size:0.8em;
    padding:2px 2px;
    display:inline-block;
    margin:5px;
    border-radius:6px;
    border:solid rgba(0,0,0,0.2);
    border-width:1px 1px 1px;
    box-shadow:0 5px 0 rgba(0,0,0,0.1), inset 0 0 3px rgba(255,255,255,0.3);
    cursor:pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-transition: 0.4s ease;
    transition:0.4s ease; }

#myBtn:hover {
    -webkit-transform:translateY(-3px);
    transform:translateY(-3px);
    box-shadow:0 6px 0 rgba(0,0,0,0.1), inset 0 0 1px rgba(255,255,255,0.4);
    border-bottom-width:2px; }

#mybtn:active {
    -webkit-transform:translateY(4px);
    transform:translateY(4px);
    box-shadow:0 2px 0 rgba(0,0,0,0.1), inset 0 0 5px rgba(255,255,255,0.4);
    border-bottom-width:2px;
    -webkit-transition: 0.1s ease;
    transition:0.1s ease; }

